:host ::ng-deep {
  body {
    background-color: #fff;
  }
  .iconPage {
    fill: #1e1e1e;
  }
}
* {
  font-family: "Poppins", sans-serif;
}
.ion-page {
  background: #fff;
}
.container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 1em;
}

.entete {
  padding: 0 0.5em;
}

.ion-header,
.entete {
  --background: #05664f;
  font-family: "Poppins", sans-serif;
  height: 130%;
  display: flex;
  --color: #fff;
}

.identPart {
  font-size: 11px;
  font-weight: 400;
}
.nomPart {
  font-size: 14px;
  font-weight: 700;
}

.titre {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 1em;
  color: #1e1e1e;
  display: flex;
  align-items: center;
  gap: 1em;
}

.itemListe {
  margin-top: 0.5em;
}

.itemListe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  gap: 0.5em;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  background-color: #5aff7a33;
  color: #05664f;
}

.txtListePart h4 {
  font-size: 14px;
  font-weight: 700;
  color: #05664f;
  margin: 0;
}

.txtListePart p {
  font-size: 9px;
  font-weight: 400;
  color: #505169;
  margin-top: 0;
}

.imgListePart {
  width: 50%;
}

.iconListePart {
  width: 15%;
}

.listeHistorique {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}

.txtHistoriquePart h4 {
  font-size: 11px;
  font-weight: 700;
  color: #05664f;
  margin: 0;
  text-align: center;
}
