<div style="height: 100vh">
  <ion-header>
    <ion-toolbar class="entete" style="padding-top: 2em">
      <div class="identPart" slot="start">
        <ion-icon name="arrow-back" (click)="back()"></ion-icon>
      </div>
      <div class="notifPart" slot="end">
        <ion-icon name="notifications"></ion-icon>
        <ion-icon name="log-in" (click)="logout()"></ion-icon>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="container">
      <div class="scan">
        <h1 class="titre">
          <ion-icon name="trail-sign-outline"></ion-icon> Mes visites
        </h1>
        <div class="liste">
          <div *ngFor="let h of passageDisp">
            <div class="itemListe">
              <div class="txtListePart">
                <!-- <h4>Le {{ h.date_passage | date: "fullDate" }}</h4> -->
                <!-- <p>Chez {{ h.lieu.nom_lieu }}</p> -->
                <h4>
                  Chez
                  {{ h.lieu.nom_lieu }}
                </h4>
                <p>Le {{ h.date_passage | date: "fullDate" }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="historique">
        <h3 class="titre">
          <ion-icon name="bookmarks-outline"></ion-icon> Voir mes historiques de
          ...
        </h3>
        <div class="listeHistorique">
          <div
            class="historiqueItem"
            [routerLink]="['/test']"
            queryParamsHandling="merge"
          >
            <div class="imgHistoriquePart">
              <img src="assets/icon/iconTest.png" alt="QR Code" />
            </div>
            <div class="txtHistoriquePart">
              <h4>Test</h4>
            </div>
          </div>

          <div
            class="historiqueItem"
            [routerLink]="['/vaccin']"
            queryParamsHandling="merge"
          >
            <div class="imgHistoriquePart">
              <img src="assets/icon/iconVaccin.png" alt="QR Code" />
            </div>
            <div class="txtHistoriquePart">
              <h4>Vaccin</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</div>
