<div class="principal">
  <div class="imgPart">
    <img src="assets/undraw_Share_link_re_54rx.png" alt="" />
  </div>
  <div class="textPart">
    <div class="txtContainer">
      <div class="logoPart">
        <!-- <img src="assets/logoRBg.png" alt="" /> -->
        <span class="logo"></span>
      </div>
      <div class="texte">
        Pour commencer votre parcours avec #Novid19 veuillez d’abord scanner le
        QR code présent sur un document (test/carte de vaccination) pour la
        configuration de l’application.
      </div>
      <div class="boutonPart">
        <button class="" (click)="scan()">Commencer le scan</button>
      </div>
    </div>
  </div>
</div>