<div style="height: 100vh">
  <ion-header>
    <ion-toolbar class="entete" style="padding-top: 2em">
      <div class="identPart" slot="start">
        <ion-icon name="arrow-back" (click)="back()"></ion-icon>
      </div>
      <div class="notifPart" slot="end">
        <ion-icon name="notifications"></ion-icon>
        <ion-icon name="log-in" (click)="logout()"></ion-icon>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="container">
      <div class="scan" *ngIf="test">
        <!-- <div class="liste">
          <div class="itemListe">
            <div class="txtListePart">
              <h4>{{ test.etat_test }}</h4>
              <p>Test du {{ test.date_test }}</p>
              <p>
                effectué au {{ centre.nom_centre }} {{ centre.adresse_centre }}
              </p>
            </div>
            <div class="iconListePart">
              <ion-icon name="qr-code"></ion-icon>
            </div>
          </div>
        </div> -->
        <h2
          class="titre"
          style="text-align: center; text-decoration: underline"
        >
          Resultat test COVID-19
        </h2>
        <div
          class="desc"
          style="
            color: #1e1e1e;
            font-family: 'Poppins', sans-serif;
            line-height: 2em;
          "
        >
          <span>M./Mme/Mlle <strong>ANDRIANJATOVONIAINA</strong></span> <br />
          <span>né(e) le 29/02/2000 </span> <br />
          <span>domicilé(e) au Analamahitsy Cté</span> <br />
          <span
            >à été testé(e) le {{ test.date_test | date: "fullDate" }} avec un
            résultat <strong>{{ getEtatTest(test.etat_test) }}</strong> sous la
            référence <strong> {{ test._id }} </strong></span
          >
        </div>
      </div>
      <div class="historique">
        <h3 class="titre">Voir mes historiques de ...</h3>
        <div class="listeHistorique">
          <div
            class="historiqueItem"
            [routerLink]="['/lieu']"
            queryParamsHandling="merge"
          >
            <div class="imgHistoriquePart">
              <img src="assets/icon/iconLieu.png" alt="QR Code" />
            </div>
            <div class="txtHistoriquePart">
              <h4>Lieux</h4>
            </div>
          </div>

          <div
            class="historiqueItem"
            [routerLink]="['/vaccin']"
            queryParamsHandling="merge"
          >
            <div class="imgHistoriquePart">
              <img src="assets/icon/iconVaccin.png" alt="QR Code" />
            </div>
            <div class="txtHistoriquePart">
              <h4>Vaccin</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</div>
