<div style="height: 100vh">
  <ion-header>
    <ion-toolbar class="entete" style="padding-top: 2em">
      <div class="identPart" slot="start">
        <ion-icon name="arrow-back"></ion-icon>
      </div>
      <div class="notifPart" slot="end">
        <ion-icon name="notifications"></ion-icon>
        <ion-icon name="log-in" (click)="logout()"></ion-icon>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="container">
      <div class="scan">
        <div class="liste">
          <div class="itemListe">
            <div class="txtListePart">
              <h4>{{ test.etat_test }}</h4>
              <p>Test du {{ test.date_test }}</p>
              <p>
                effectué au {{ centre.nom_centre }} {{ centre.adresse_centre }}
              </p>
            </div>
            <div class="iconListePart">
              <ion-icon name="qr-code"></ion-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="historique">
        <h3 class="titre">Voir mes historiques de ...</h3>
        <div class="listeHistorique">
          <div class="historiqueItem">
            <div class="imgHistoriquePart">
              <img src="assets/icon/iconLieu.png" alt="QR Code" />
            </div>
            <div class="txtHistoriquePart">
              <h4>Lieux</h4>
            </div>
          </div>

          <div class="historiqueItem">
            <div class="imgHistoriquePart">
              <img src="assets/icon/iconVaccin.png" alt="QR Code" />
            </div>
            <div class="txtHistoriquePart">
              <h4>Vaccin</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</div>
